<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592464899757-mheps847qeu7a8hjr0r20nphgdr6kk3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592464899757-mheps847qeu7a8hjr0r20nphgdr6kk3k</string>
	<key>API_KEY</key>
	<string>AIzaSyCy-So7D9aBZR_H-vgMhdvUyykgsxN0VI4</string>
	<key>GCM_SENDER_ID</key>
	<string>592464899757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jasper.Food-Discovery</string>
	<key>PROJECT_ID</key>
	<string>food-discovery-4bf1d</string>
	<key>STORAGE_BUCKET</key>
	<string>food-discovery-4bf1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592464899757:ios:4210653e8c1c121ed36024</string>
</dict>
</plist>